{{template "base" .}}

{{define "content"}}
<div class="container">
    <div>
        <img src="/static/images/marjors-suite.png" alt=""
            class="img-fluid room-image img-thumbnail rounded mx-auto d-block">
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Major's Suite</h1>
            <p class="text-center">Your home away from home. Set on the hilltops, the view is unforgettable. Come on in!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">

            <a href="/make-reservation-ms" class="btn btn-success">Check Availability</a>
        </div>
    </div>


</div>
{{end}}